@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --font-audiowide: 'Audiowide', sans-serif; 
}

.review h3 {
  position: relative;
  font-family: 'Audiowide';
  font-size: 1.25rem;
  margin-top: 2rem;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .review h3 {
    font-weight: normal;
  }
}

.review p {
  margin-bottom: 1rem;
}